body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  background-color:white ;
  width:100%;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3{
  font-size: 3vmin;

}


.title{

  display:flex;
  justify-content: center;
  padding-top:5vh;
}

h1{
font-size: 5vmin;
color:rgb(26, 25, 25);
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.display{
 
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh;
  
  color:rgb(26, 25, 25);

}


.select{
  width:20vw;
  height:20vmin;
  padding :5vh;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:5vw;
}

.sRock{
  
  width:10vw;
  max-width: 50px;
}


.sPaper{
  
  width:11vw;
  max-width: 60px;
}


.sScissor{
  
  width:10vw;
  max-width: 50px;
}

.border{
  display:flex;
  justify-content: center;
  align-items: center;
  border:3px solid rgba(0, 0, 0, 0.849);
  width:10vw;
  padding:3vh;
  border-radius: 50%;
}

.border:hover{
  cursor:pointer;
  border:3px solid green;
}

.display-result{

width:100%;
height: 20vh;
padding: 3vw;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:20vw;
}



button{
  width:30vh;
  padding:2vh 4vh 2vh 4vh;
  font-size:3vh;
  border:2px solid black;
  border-radius: 10px;
  color:black;
}

button:hover{
  background-color: grey;
}

.player{

width:25vw; 
max-width: 170px; 
  transform: rotate(90deg);
transition:  transform 2s ease-out

}

.player-{

  width:25vw;  
  max-width: 170px;
  
  }



.com{
  width:25vw;
  max-width: 170px;
  transform: rotate(-90deg);
  transition: transform 2s ease-out;
 


}

.com-{
  width:25vw;
  max-width: 170px;
  
 


}
h2{
  font-size: 3vmin;
}

.comment{
  width:20vw;
  height: 10vh;

  display: flex;
  justify-content: center;
}
